<div class="container">
    <div class="white-big-copy-section bg-orange section-content">
        <h1>
            Your inquiry was submited successfuly.
        </h1>
        <p>I will get in touch with you as soon as possible.</p>
    </div>
</div>
