@model Web.Models.AccessDeniedViewModel

@{
    ViewData["Title"] = "Move More Members";
}

<div class="container">
    <div class="white-big-copy-section bg-red section-content">
        <h1>
            Access Denied
        </h1>
        <p>@Model.AccessDeniedReason</p>
    </div>
</div>
