@model Web.Models.AdminAreaViewModel

@{
    ViewData["Title"] = "Admin Area (Dashboard)";
}

<div class="container">
    <div class="white-big-copy-section bg-orange section-content">
        <h1>
            Admin Area (Dashboard)
        </h1>
        <partial name="AdminToolbar" model="Model" />
    </div>
</div>
