@{
    ViewData["Title"] = "Admin Area";
}

<div class="container">
    <div class="white-big-copy-section bg-orange section-content">
        <h1>
            Admin Area
        </h1>
        <partial name="AdminToolbar" />
    </div>
</div>
