.vs/Web/v16/.suo
bin/Debug/netcoreapp3.1/Web.dll
bin/Debug/netcoreapp3.1/Web.pdb
bin/Debug/netcoreapp3.1/Web.Views.dll
bin/Debug/netcoreapp3.1/Web.Views.pdb
Controllers/ServicesController.cs
obj/Debug/netcoreapp3.1/Web.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/Web.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/Web.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/Web.dll
obj/Debug/netcoreapp3.1/Web.pdb
obj/Debug/netcoreapp3.1/Web.RazorCoreGenerate.cache
obj/Debug/netcoreapp3.1/Web.Views.dll
obj/Debug/netcoreapp3.1/Web.Views.pdb
obj/Debug/netcoreapp3.1/Razor/Views/Contact/ContactForm.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Contact/Index.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Contact/SubmitResult.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Login/Index.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/MoveMore/Index.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Register/Index.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Register/Success.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Services/AnnualOffer.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Services/FAQ.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Services/Pricing.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Services/WhatIDo.cshtml.g.cs
bin/Debug/netcoreapp3.1/dotnet-aspnet-codegenerator-design.dll
bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Razor.Language.dll
bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.dll
bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.dll
bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Razor.dll
bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Workspaces.dll
bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Contracts.dll
bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.dll
bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
bin/Debug/netcoreapp3.1/Microsoft.Win32.SystemEvents.dll
bin/Debug/netcoreapp3.1/NuGet.Frameworks.dll
bin/Debug/netcoreapp3.1/System.Composition.AttributedModel.dll
bin/Debug/netcoreapp3.1/System.Composition.Convention.dll
bin/Debug/netcoreapp3.1/System.Composition.Hosting.dll
bin/Debug/netcoreapp3.1/System.Composition.Runtime.dll
bin/Debug/netcoreapp3.1/System.Composition.TypedParts.dll
bin/Debug/netcoreapp3.1/System.Drawing.Common.dll
bin/Debug/netcoreapp3.1/System.Security.AccessControl.dll
bin/Debug/netcoreapp3.1/System.Security.Permissions.dll
bin/Debug/netcoreapp3.1/System.Security.Principal.Windows.dll
bin/Debug/netcoreapp3.1/System.Windows.Extensions.dll
bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.resources.dll
bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.resources.dll
bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.resources.dll
bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.resources.dll
bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.resources.dll
bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.resources.dll
bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.resources.dll
bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.resources.dll
bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.resources.dll
bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.resources.dll
bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/System.Security.Principal.Windows.dll
bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.Security.AccessControl.dll
bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/System.Security.Principal.Windows.dll
bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.resources.dll
bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.resources.dll
bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.resources.dll
bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
bin/Debug/netcoreapp3.1/Web.deps.json
bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
