@model Web.Models.StoriesViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <partial name="MainBanner" />
    <partial name="MyGoal" />
    <partial name="Stories" model="Model" />
    <partial name="Meet" />
    <partial name="MyMission" />
</div>
