<div class="main-banner">
    <div class="banner-content">
        <h2>Moving With Joy</h2>
        <p>Take the struggle out of getting fit by learning Pilates and falling in love with movement.</p>
        <a class="action-button white-button" href="/Services">START HERE</a>
    </div>
</div>
