<div class="container">
    <div class="section-header"></div>
    <div class="row section-content">
        <div class="col-md-4 col-img">
            <div class="section-content-img-container">
                <img src="/images/bodies-pilates-finals-48-1_orig.jpg">
            </div>
        </div>
        <div class="col-md-8 col-text bg-orange">
            <h2>Meet Irina</h2>
            <p>
                Hi, I'm Irina! Welcome to Bodies Pilates - I teach my clients how to fall in love with moving their bodies and find a new way to look at being healthy, fit and balanced. I offer fully bespoke services as well as group classes and an online membership for anyone who wants to learn Pilates and create a healthier version of themselves. Learn more about how I can help you on my Services page or reach out to me directly on my Contact page so I can answer any questions you may have.
            </p>
            <a class="action-button white-button" href="/Services">LEARN MORE</a>
        </div>
    </div>
</div>