<div class="container">
    <div class="section-header">
        <h2>My Goal For You</h2>
        <p>Hey there, I'm Irina. Our motto at Bodies Pilates is "Exercise because you love your body!" My passion is teaching people how to be healthier, happier and stronger in their every day lives by practicing Pilates and building healthier lifestyles.</p>
        <br>
        <p>My classes focus on creating better posture, building core strength and learning how to connect with your body, so you actually enjoy your workouts and can't wait to show up for class. The best part? Pilates can be customized to every body and everybody, and it's never too late to start.</p>
    </div>
    <div class="row section-content">
        <div class="col-md-6">
            <div class="section-content-img-container">
                <img src="/images/join-virtual-family_orig.jpg">
            </div>
            <h2>Join The Virtual Family</h2>
            <p>
                My online membership Move More has all the benefits of in-person Pilates, with the added bonus of fitting your workout in at the right time for your busy day with my pre-recorded classes and sessions. Join month to month or sign up for a whole year to learn Pilates and fall in love with moving your body. New videos are added monthly, so you'll never run out of workouts or get bored!
            </p>
        </div>
        <div class="col-md-6">
            <div class="section-content-img-container">
                <img src="/images/private-sessions_orig.jpg">
            </div>
            <h2>Private Pilates Sessions</h2>
            <p>
                Interested in a custom Pilates program with live teaching? Then you'll want to sign up for private Pilates sessions. I will build a workout program that is customized to your goals and what you want to get out of wotogether. Get started by setting up a free consultation with me to talk about your goals, find the right time for your sessions, learn more about what Pilates can do for you.
            </p>
        </div>
    </div>
    <div class="row section-content">
        <div class="col-md-6">
            <div class="section-content-img-container">
                <img src="/images/corporate-wellness.jpg">
            </div>
            <h2>Corporate Wellness</h2>
            <p>
                Looking for a way to increase productivity, release stress and anxiety, and boost morale for your team? Then you'll want to learn about my corporate packages for teaching Pilates. The best thing is - I can teach virtual group classes that bring the whole team together. It’s the perfect workout for any time of the day and is sure to leave everyone standing taller, refreshed and ready to be productive.
            </p>
        </div>
        <div class="col-md-6">
            <div class="section-content-img-container">
                <img src="/images/online-group-pilates.jpg">
            </div>
            <h2>Group Pilates Classes</h2>
            <p>
                My group classes are designed to bring your whole family and friends together in a way that's fun, safe and guaranteed to give you that added boost of accountability to your workouts. Contact me directly for the current class schedule to join an existing group class or request a specific time for you and your squad that wants to learn Pilates together.
            </p>
        </div>
    </div>
</div>
