<div class="container">
    <div class="section-header">
        <h2>My Mission</h2>
        <p>I believe that proper movement can heal the body and the spirit. Our clients want real, sustainable lifestyle changes but are too busy with careers and families to spend hours and hours sweating at the gym every day. We’ve worked with hundreds of women to help them overcome injuries, live pain-free, and learn how to live their best lives by embracing the right movement.</p>
        <br>
        <a class="action-button black-button" href="/Contact">CONTACT IRINA</a>
    </div>
</div>