<div class="container">
    <div class="section-content section-center">
        <h2>About Bodies Pilates</h2>
        <p>At Bodies Pilates, we help individuals who are tired of speaking unkindly to themselves and realize that this is not the way to heal the body or to live a positive life. By connecting with and expressing love and respect for your body, you are better able to give it what it needs to live pain-free. </p>
        <p>We use a variety of methods to help people because we understand that when you have lived with chronic pain or are just anxious about starting a new fitness program, it’s essential to remove as many barriers as possible. One to one, groups of friends or colleagues, face to face or online - whatever is the right way for you, Body Pilates will help you find it.</p>
    </div>
</div>