<div class="container">
    <div class="row section-content is-flex">
        <div class="col-sm-6 col-img">
            <div class="section-content-img-container">
                <img src="/images/Bodies_Pilates_Finals-67.jpg">
            </div>
        </div>
        <div class="col-sm-6 col-text bg-red">
            <h1>About Bodies Pilates</h1>
            <p>
                I can't stress it enough that our goals have to be manageable, sustainable and realistic in order stay consistent. Consistency creates the best results.
            </p>
            <a class="action-button white-button" href="/Services">START HERE</a>
        </div>
    </div>
</div>