<div class="container">
    <div class="row section-content is-flex">
        <div class="col-sm-4">
            <div class="card">
                <div class="image-cropper">
                    <img src="/images/Bodies_Pilates_Finals-63.jpg" class="profile-pic">
                    <p>Irina Aghajanyan</p><p>FOUNDER AND HEAD COACH</p>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <h2>About Irina</h2>
            <p>
                I’m Irina, the head instructor at Bodies Pilates. At 16, I came to the US from Armenia to attend university. After graduation, I wanted a career in fashion, but after chronic back pain and significant fusion surgeries, my plans changed.
            </p>
            <p>I discovered Pilates as a method of coping with my own physical pain after surgery. I found that I was able to connect to my body more clearly and understand how the correct movement helped me recover. The technical elements of the body’s mechanics and proper postural alignment are something to master, and I began to chase excellence. </p>
            <p>I learned how the body could heal itself when we treat it with love and respect. Pilates is one way I can tune into what my body needs. I love helping others find this connection themselves, even after they have tried exercising in the past - even corrective exercising - and they’ve found it hasn’t helped them.</p>
            <p>By taking the time to get to know my clients and building relationships over the long term, which are based on honest communication and profound and sincere care for their well-being, I’m able to help them achieve the results they want. Once we find the right way to be consistent, they can affect real, sustainable change - even from chronic pain.</p>
            <p></p>
            <a class="action-button black-button" href="/Contact">LET'S CONNECT</a>
        </div>
    </div>
</div>