<div class="container">
    <div class="white-big-copy-section bg-orange section-content">
        <h2>
            "Helping you have fun staying fit and healthy, with full body workouts that can easily fit into a busy lifestyle. Pilates is the kind of exercise that you look forward to doing!"
        </h2>
    </div>
</div>