<div class="container images-container">
    <div class="row">
        <div class="image-content">
            <a id="MainContent_ctl04_rptImages_lnkFancy_0" class="fancy" href="/images/Bodies_Pilates_Finals-66.jpg">
                <img src="/images/Bodies_Pilates_Finals-66.jpg" />
            </a>
        </div>
        <div class="image-content">
            <a id="MainContent_ctl04_rptImages_lnkFancy_1" class="fancy" href="/images/bodies-pilates-finals-7_orig.jpg">
                <img src="/images/bodies-pilates-finals-7_orig.jpg" />
            </a>
        </div>
        <div class="image-content">
            <a id="MainContent_ctl04_rptImages_lnkFancy_2" class="fancy" href="/images/bodies-pilates-finals-32_orig.jpg">
                <img src="/images/bodies-pilates-finals-32_orig.jpg" />
            </a>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        /* Apply fancybox to multiple items */

        $("a.fancy").fancybox({
            'transitionIn': 'elastic',
            'transitionOut': 'elastic',
            'speedIn': 600,
            'speedOut': 200,
            'overlayShow': false
        });

    });
</script>