<div class="container">
    <div class="row">
        <div class="col-md-6">
            In the last 7 years, I’ve worked as a Pilates instructor and have helped hundreds of women to work through chronic pain conditions and weaknesses in their core that left them vulnerable to injuries. They’ve done too much too soon and sometimes push themselves too hard without the proper guidance and support, risking setting themselves back or becoming discouraged.
        </div>
        <div class="col-md-6">
            At Bodies Pilates, we’re working with manageable, sustainable, realistic targets that are completely and thoroughly as unique as your own body. Falling in love with movement is easy when you have the right plan and supportive coaches. Motivation feels as effortless as breathing, and confidence will compound as you start to take those steps to believe in yourself. The first step is just to reach out and have a consultation to figure out which path is right for you.
        </div>
    </div>
</div>