<section id="pricing-bottom" class="bg-red">
    <div class="container">
        <div class="section-content col-text text-center top-bottom-padded-box">
            <h2>Join the annual Move More Online Studio membership <br /> and get 2 months free!</h2>
            <p>Experience Pilates in the comfort of your own home & on the go with my online membership. New clients can sign-up today for my annual membership and receive 2 months free.</p>
            <div id="paypal-button">
                <a class="action-button red-button" href="/contact">CLAIM OFFER</a>
            </div>

        </div>
    </div>
</section>