<div class="container">
    <div class="section-header">
        <h2>Solutions For Every Problem</h2>
        <p>At Bodies Pilates I aim to help you find the solution that works best for your goals, body​ and lifestyle.</p>
    </div>
</div>
<section id="pricing">
    <div class="inner-block">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 price-wrapper">
                    <div class="price-box">
                        <header>
                            <span>MOVE MORE ONLINE STUDIO</span>
                            <div class="price">
                                <p>$25<span>per month OR $250 per year*</span></p>
                            </div>
                        </header>

                        <div class="text">
                            Ideal for people who cannot attend gyms/studios and need instruction and people who travel a lot. Expect long lean muscle tone, better posture and more confidence.
                        </div>

                        <div class="perk">
                            <div class="content">
                                <span>Unlimited access to video library ​</span>
                            </div>
                        </div>
                        <div class="perk">
                            <div class="content">
                                <span>New Videos uploaded monthly​</span>
                            </div>
                        </div>
                        <div class="perk">
                            <div class="content">
                                <span>Member input and suggestions on videos very important</span>
                            </div>
                        </div>

                        <div class="section-header">
                            <a id="paypal-button-container" class="action-button black-reverse-button" href="/contact">START NOW</a>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 price-wrapper">
                    <div class="price-box price-pro">
                        <header>
                            <span>1:1 PILATES SESSIONS</span>
                            <div class="price">
                                <p>$100<span>per hour</span></p>
                            </div>
                        </header>

                        <div class="text">
                            Perfect for people that are new to working out, recovering from an injury, returning from a long break or just want to dig deeper into understanding their body and how to properly move it.
                        </div>

                        <div class="perk">
                            <div class="content">
                                <span>1:1 session with me discussion concerns and goals</span>
                            </div>
                        </div>
                        <div class="perk">
                            <div class="content">
                                <span>Zoom session with me discussing concerns and goals</span>
                            </div>
                        </div>
                        <div class="perk">
                            <div class="content">
                                <span>Custom Workout Plan Design</span>
                            </div>
                        </div>
                        <div class="perk">
                            <div class="content">
                                <span>Full body workout that will leave you feeling stronger, longer and lighter.</span>
                            </div>
                        </div>

                        <div class="section-header">
                            <a class="action-button black-reverse-button" href="/contact">START NOW</a>
                        </div>

                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 price-wrapper">
                    <div class="price-box">
                        <header>
                            <span>ONLINE GROUP PILATES</span>
                            <div class="price">
                                <p>$POA<span>per month*</span></p>
                            </div>
                        </header>

                        <div class="text">
                            Ideal for people looking to connect with friends, family or coworkers via exercise. You will enjoy group setting, having fun with friends and family and can expect to feel more confident in your body.
                        </div>

                        <div class="perk">
                            <div class="content">
                                <span>Zoom Group Lessons ​</span>
                            </div>
                        </div>
                        <div class="perk">
                            <div class="content">
                                <span>In person group training</span>
                            </div>
                        </div>
                        <div class="perk">
                            <div class="content">
                                <span>Birthday Parties</span>
                            </div>
                        </div>
                        <div class="perk">
                            <div class="content">
                                <span>Corporate Training​</span>
                            </div>
                        </div>
                        <div class="section-header">
                            <a class="action-button black-reverse-button" href="/contact">START NOW</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>