@{
    ViewData["Title"] = "Success";
}
<div class="container">
    <div class="section-header">
        <h2>Success!</h2>
        <p>Congratulations you have successfully subsribed to .</p>
    </div>
</div>