<div class="container">
    <div class="section-header"></div>
    <div class="row section-content">
        <div class="col-md-6 col-text bg-orange">
            <h1>What I Do</h1>
            <p>
                I focus on details and proper movement, which is the kind of work that is never ending. Our bodies are different every day. I teach people to check in with their body and mind daily and treat it with love and respect.
            </p>
            <a class="action-button white-button" href="/Services">SEE SOLUTIONS</a>
        </div>
        <div class="col-md-6 col-img">
            <div class="section-content-img-container">
                <img src="/images/Bodies_Pilates_Finals-69.jpg">
            </div>
        </div>

    </div>
</div>